.appbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.navDiv {
    display: none;
}

.navDiv nav a {
    font-size: 16px;
    color: rgb(95, 95, 95);
}

.navDiv nav a:hover {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

.hamburger {
    display: flex;
    gap: 20px;
}

.FeatureCardImage {
    width: 80%;
    /* height: 80%; */
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.video {
    margin-top: 4rem;
}

.HeroContainer {
    margin-top: 6rem;
}

.userIcon {
    background-color: white;
    border-radius: 999px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    animation: UpandDown 2s infinite;
}

.meetIcon {
    right: 16px;
    top: 58%;
    background-color: white;
    border-radius: 999px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    animation: UpandDown 2s infinite;
}


.Streamline {
    font-size: 39px;
    font-weight: 700;
    text-align: center;
    line-height: 2.7rem;
    letter-spacing: -1.5px;
}

.Hiring {
    margin-top: 1rem;
    color: rgb(95, 95, 95);
    letter-spacing: -1px;
    font-size: 19px;
}

.HiringButton {
    margin-top: 1rem;
}

.SignupButton {
    display: flex;
    gap: 4px;
    align-items: center;
}


.heroImageContainerSection {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo-ticker-container {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}

.features-pad {
    padding: 5px 12px;
}

.keyFeatures {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.Explore {
    margin-top: 1.5rem;
    color: rgb(95, 95, 95);
    letter-spacing: -1px;
}

.featurecardContainer {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.featurecardContainer>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.featureCardShadow {
    border-radius: 8px;
    height: 100%;
}

.featureCardShadow:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

.titleMain {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.descriptionMain {
    color: rgb(95, 95, 95);
    letter-spacing: -1px;
}

.learnButton {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}



.heroImageContainer {
    background-color: #e8ecf0;
    border-radius: 14px;
}

.inner-container {
    background-color: white;
}

.logo-ticker {
    display: flex;
    gap: 3.5rem;
    padding-right: 3.5rem;
}

.logo-ticker img {
    width: 130px;
}

.logo-container {
    display: flex;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black, transparent);
}

/********* Footer  *******/
.container {
    display: flex;
}

.doc-container {
    background-color: black;
    color: white;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    margin-top: 10rem;
}

.doc-btn-container {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.375rem;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.55);
    height: 2.5rem;
    width: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.doc-btn {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 0.7);
}

.doc-btn-1 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: black;
    width: 7rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 1rem;
}

.doc-title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: -0.05em;
}

.doc-subtitle {
    font-size: 0.875rem;
    letter-spacing: -0.05em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 1.25rem;
    margin-right: 1rem;
}

.doc-left-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.doc-right-content {
    display: none;
}

.footer {
    background-color: black;
    color: #90939b;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.footer-logo {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.375rem;
    /* 6px */
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.55);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-subContent {
    display: flex;
    font-size: 0.9rem;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-icons {
    display: flex;
    gap: 1rem;
}



/**** CTA FOOTER *****/

.CtaFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.CtaTitle {
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.05em;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.7));
    color: transparent;
    background-clip: text;
    text-align: center;
    line-height: 1;
    padding-top: 0.25em;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
    mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), transparent);
    max-height: 738px;
    overflow: hidden;
    padding-left: 3rem;
    padding-right: 3rem
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.card {
    border-radius: 1rem;
    padding: 1rem;
}

.test-col {
    display: none;
}

@media screen and (min-width: 600px) {
    .navDiv {
        display: block;
    }

    .navDiv nav {
        gap: 2rem;
    }

    .hamburger {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .appbar {
        border: none;
        background: none;
    }

    .appbar-first {
        display: flex;
        justify-content: center;
    }

    .appbar-second {
        width: 50%;
        border: 1px solid rgb(218, 218, 218);
        padding: 0.8rem;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes UpandDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 600px) {
    .featurecardContainer>div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 25rem;
        padding-right: 25rem;
    }

    .keyFeatures {
        font-size: 39px;
        margin-top: 2.5rem;
    }

    .Explore {
        margin-top: 3.5rem;
    }

    .featurecardContainer {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 1200px) {

    .Streamline {
        font-size: 70px;
        line-height: 4.5rem;
    }

    .StreamlineDiv {
        padding-left: 25rem;
        padding-right: 25rem;
    }

    .Hiring {
        padding-left: 12rem;
        padding-right: 12rem;
        margin-top: 2.2rem;
    }

    .SignupButton {
        font-size: 16px;
    }

    .SignupButton img {
        width: 30px;
        height: 30px;
    }

    .HeroContainer {
        margin-top: 15rem;
    }

    .userIcon {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 35rem;
        top: -7rem;
    }

    .meetIcon {
        right: 32rem;
        top: 70%;
        width: 100px;
        height: 100px;
    }

    .HiringButton {
        margin-top: 2.2rem;
    }

    .heroImageContainerSection {
        margin-top: 6rem;
        margin-bottom: 5rem;
        padding-left: 18rem;
        padding-right: 18rem;
    }

    .content {
        padding-left: 28rem;
        padding-right: 28rem;
    }

    .Logo-ticker-container {
        margin-bottom: 5rem;
    }

    .keyFeatures {
        font-size: 4.5rem;
    }
}

@media (min-width: 768px) {
    .CtaTitle {
        font-size: 3rem;
        line-height: 1.5;
    }

    .test-col {
        display: block;
    }

    .footer-content {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .doc-container {
        overflow-y: hidden;
        padding-bottom: 0;
        margin-left: 10rem;
        margin-right: 10rem;
        border-radius: 1rem;
    }

    .doc-content {
        display: flex;
        gap: 15rem;
        padding-top: 1rem;
    }

    .doc-subtitle {
        font-size: 1.125rem;
    }

    .doc-left-content {
        font-size: 1rem;
    }

}

@media (min-width: 1024px) {
    .CtaTitle {
        font-size: 4.5rem;
        line-height: 1.3;
    }

    .testimonial-container {
        padding-left: 14rem;
        padding-right: 14rem
    }

    .doc-right-content {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-left: 0.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-radius: 0.5rem;
        border-top-right-radius: 0;
        background-color: #18181b;
        backdrop-filter: blur(10px);
        box-shadow: inset 0 4px 6px -1px rgba(255, 255, 255, 0.6);
        height: auto;
    }
}

@media only screen and (min-width:1240px) {
    .footer {
        padding: 5rem;
    }

    .footer-main {
        flex-direction: row;
        justify-content: space-between;
    }
}